{# {% for user in users %}
    <tr id="user-row-{{ user.id }}">
        <td class="text-center">{{ user.id }}</td>
        <td class="text-center">{{ user.nom }}</td>
        <td class="text-center">{{ user.prenom }}</td>
        <td class="text-center">{{ user.username }}</td>
        <td class="text-center">{{ user.position }}</td>
        <td class="text-center">{{ user.adresse }}</td>
        <td class="text-center">{{ user.Tel1 }}</td>
        <td class="text-center">{{ user.Tel2 }}</td>
        <td class="text-center">{{ user.dateCreation ? user.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
     
    </tr>
{% else %}
    <tr>
        <td colspan="13">No records found</td>
    </tr>
{% endfor %} #}
